<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PanaderiaConnection"
             connectionString="Server=CARLITOX\CARLITOS;Database=PanaderiaDB;Trusted_Connection=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>