USE [master]
GO
/****** Object:  Database [PanaderiaDB]    Script Date: 17/06/2025 14:26:23 ******/
CREATE DATABASE [PanaderiaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PanaderiaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.CARLITOS\MSSQL\DATA\PanaderiaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PanaderiaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.CARLITOS\MSSQL\DATA\PanaderiaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PanaderiaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PanaderiaDB]
GO
/****** Object:  User [Carlos]    Script Date: 17/06/2025 14:26:23 ******/
CREATE USER [Carlos] FOR LOGIN [Carlos] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[StockReventa]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockReventa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[TipoMovimiento] [nvarchar](20) NOT NULL,
	[Cantidad] [decimal](10, 2) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Comentario] [nvarchar](255) NULL,
	[FechaVencimiento] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StockActualReventa]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_StockActualReventa] AS
SELECT 
    ProductoId,
    SUM(Cantidad) AS StockActual
FROM 
    StockReventa
GROUP BY 
    ProductoId;

GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Correo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredientes]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Unidad] [nvarchar](20) NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[PrecioVenta] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Correo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recetas]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recetas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[IngredienteId] [int] NOT NULL,
	[Cantidad] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecibosPDF]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecibosPDF](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[NombreArchivo] [nvarchar](255) NOT NULL,
	[RutaArchivo] [nvarchar](500) NOT NULL,
	[FechaGeneracion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockMovimientos]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMovimientos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IngredienteId] [int] NOT NULL,
	[TipoMovimiento] [nvarchar](20) NULL,
	[Cantidad] [decimal](10, 2) NOT NULL,
	[Fecha] [datetime] NULL,
	[Comentario] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[TotalVenta] [decimal](10, 2) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[ClienteId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RecibosPDF] ADD  DEFAULT (getdate()) FOR [FechaGeneracion]
GO
ALTER TABLE [dbo].[StockMovimientos] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[StockReventa] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([Id])
GO
ALTER TABLE [dbo].[Recetas]  WITH CHECK ADD FOREIGN KEY([IngredienteId])
REFERENCES [dbo].[Ingredientes] ([Id])
GO
ALTER TABLE [dbo].[Recetas]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[StockMovimientos]  WITH CHECK ADD FOREIGN KEY([IngredienteId])
REFERENCES [dbo].[Ingredientes] ([Id])
GO
ALTER TABLE [dbo].[StockReventa]  WITH CHECK ADD  CONSTRAINT [FK_StockReventa_Productos] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[StockReventa] CHECK CONSTRAINT [FK_StockReventa_Productos]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[StockMovimientos]  WITH CHECK ADD CHECK  (([TipoMovimiento]='Ajuste' OR [TipoMovimiento]='Salida' OR [TipoMovimiento]='Entrada'))
GO
ALTER TABLE [dbo].[StockReventa]  WITH CHECK ADD CHECK  (([TipoMovimiento]='Ajuste' OR [TipoMovimiento]='Salida' OR [TipoMovimiento]='Entrada'))
GO
/****** Object:  StoredProcedure [dbo].[InsertarStockReventaPorVenta]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarStockReventaPorVenta]
    @ProductoId INT,
    @Cantidad INT,
    @Comentario NVARCHAR(255) = NULL
AS
BEGIN
    IF @Comentario IS NULL OR LTRIM(RTRIM(@Comentario)) = ''
        SET @Comentario = 'Vendido';

    INSERT INTO StockReventa (
        ProductoId,
        TipoMovimiento,       -- Aquí debe ser el valor correcto según tu CHECK constraint
        Cantidad,
        Fecha,
        Comentario,
        FechaVencimiento
    )
    VALUES (
        @ProductoId,
        'Salida',             -- Usa 'Salida' si TipoMovimiento es VARCHAR
        -@Cantidad,           -- Negativo porque es salida
        GETDATE(),
        @Comentario,
        NULL
    );
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarStockReventa]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarStockReventa]
    @ProductoId INT,
    @Cantidad INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM StockReventa
        WHERE ProductoId = @ProductoId AND Cantidad >= @Cantidad
    )
    BEGIN
        UPDATE StockReventa
        SET Cantidad = Cantidad - @Cantidad
        WHERE ProductoId = @ProductoId;
    END
    ELSE
    BEGIN
        RAISERROR('Stock insuficiente para el producto.', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarVenta]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarVenta]
    @Id INT,
    @Fecha DATETIME,
    @TotalVenta DECIMAL(18, 2),
    @UsuarioId INT,
    @ClienteId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Ventas
    SET Fecha = @Fecha,
        TotalVenta = @TotalVenta,
        UsuarioId = @UsuarioId,
        ClienteId = @ClienteId
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DescontarStockReventa]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DescontarStockReventa]
    @ProductoId INT,
    @Cantidad INT,
    @Comentario NVARCHAR(255) = NULL -- opcional, para el movimiento
AS
BEGIN
    SET NOCOUNT ON;

    -- Calcular stock actual sumando movimientos
    DECLARE @StockActual INT;
    SELECT @StockActual = ISNULL(SUM(Cantidad), 0)
    FROM StockReventa
    WHERE ProductoId = @ProductoId;

    IF @StockActual < @Cantidad
    BEGIN
        RAISERROR('Stock insuficiente para el producto.', 16, 1);
        RETURN;
    END

    -- Insertar nuevo movimiento de salida (descuento)
    INSERT INTO StockReventa (ProductoId, TipoMovimiento, Cantidad, Fecha, Comentario, FechaVencimiento)
    VALUES (@ProductoId, 'Salida', -@Cantidad, GETDATE(), @Comentario, NULL);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarDetalleVenta]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarDetalleVenta]
    @VentaId INT
AS
BEGIN
    DELETE FROM DetalleVenta WHERE VentaId = @VentaId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarVenta]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarVenta]
    @Id INT
AS
BEGIN
    DELETE FROM Ventas WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarDetalleVenta]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarDetalleVenta]
    @VentaId INT,
    @ProductoId INT,
    @Cantidad INT,
    @PrecioUnitario DECIMAL(18, 2)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    INSERT INTO DetalleVenta (VentaId, ProductoId, Cantidad, PrecioUnitario)
    VALUES (@VentaId, @ProductoId, @Cantidad, @PrecioUnitario);

    IF EXISTS (
        SELECT 1 FROM StockReventa
        WHERE ProductoId = @ProductoId AND Cantidad >= @Cantidad
    )
    BEGIN
        UPDATE StockReventa
        SET Cantidad = Cantidad - @Cantidad
        WHERE ProductoId = @ProductoId;

        COMMIT TRANSACTION;
    END
    ELSE
    BEGIN
        ROLLBACK TRANSACTION;
        RAISERROR('Stock insuficiente para el producto.', 16, 1);
        RETURN;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarVenta]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarVenta]
    @Fecha DATETIME,
    @TotalVenta DECIMAL(18, 2),
    @UsuarioId INT,
    @ClienteId INT = NULL,
    @VentaId INT OUTPUT
AS
BEGIN
    INSERT INTO Ventas (Fecha, TotalVenta, UsuarioId, ClienteId)
    VALUES (@Fecha, @TotalVenta, @UsuarioId, @ClienteId);

    SET @VentaId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerDetalleVenta]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerDetalleVenta]
    @VentaId INT
AS
BEGIN
    SELECT dv.ProductoId, dv.Cantidad, dv.PrecioUnitario, p.Nombre AS NombreProducto
    FROM DetalleVenta dv
    INNER JOIN Productos p ON dv.ProductoId = p.Id
    WHERE dv.VentaId = @VentaId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerVenta]    Script Date: 17/06/2025 14:26:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerVenta]
    @Id INT
AS
BEGIN
    SELECT * FROM Ventas WHERE Id = @Id;
END
GO
USE [master]
GO